[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcrcon = "*"
schedule = "*"
"discord.py" = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
webhooks = "python3 webhooks/run_webhooks.py"